.display {
    font-family: monospace;
}

#display {
    /*border: 2px solid;*/
    /*display: inline-block;*/
    width: 1050px;
    float: left;
}

#console {
    font-family: monospace;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid;
    width: 250px;
    height: 500px;
}

.tile {
    padding-left: 4px;
    padding-right: 4px;
}

.combat-attack {
    color: yellow;
    background-color: red;
}

.combat-defend {
    color: black;
    background-color: yellow;
}

