.red {
    color: red;
}

.blue {
    color: blue;
}

.aqua {
    color: aqua;
}

.background-blue {
    background-color: blue;
}

.background-aqua {
    background-color: aqua;
}

.background-black {
    background-color: black;
}

.background-highlight-back {
    background-color: #ffeb00;
}

.background-light-tan-back {
    background-color: #ffdeae;
}

.background-mid-tan-back {
    background-color: #e9c999;
}

.background-deep-tan-back {
    background-color: #d9ba95;
}

.background-light-green-back {
    background-color: #9ffe73;
}

.background-mid-light-green-back {
    background-color: #8ee86d;
}

.background-dark-light-green-back {
    background-color: #79ce67;
}

.background-light-brown-back {
    background-color: #D5AD16;
}

.background-mid-light-brown-back {
    background-color: #B08A16;
}

.background-dark-light-brown-back {
    background-color: #937417;
}
