.red {
    color: red;
}

.blue {
    color: blue;
}

.aqua {
    color: aqua;
}

.dark-green {
    color: #3a903a;
}

.highlight {
    color: #ffeb00;
}

.background-blue {
    background-color: blue;
}

.background-aqua {
    background-color: aqua;
}

.background-light-green {
    background-color: lightgreen;
}

.background-black {
    background-color: black;
}

.background-light-grey {
    background-color: lightgrey;
}

.background-gold {
    background-color: gold;
}

.background-dark-gold {
    background-color: #ffbc00;
}

.background-dark-white {
    background-color: rgba(245, 245, 245);
}

.background-highlight-back {
    background-color: #ffeb00;
}

.background-light-tan-back {
    background-color: #ffdeae;
}

.background-mid-tan-back {
    background-color: #e9c999;
}

.background-deep-tan-back {
    background-color: #d9ba95;
}

.background-light-green-back {
    background-color: #9ffe73;
}

.background-mid-light-green-back {
    background-color: #8ee86d;
}

.background-dark-light-green-back {
    background-color: #79ce67;
}

.background-light-brown-back {
    background-color: #D5AD16;
}

.background-mid-light-brown-back {
    background-color: #B08A16;
}

.background-dark-light-brown-back {
    background-color: #937417;
}
